<div class="container center-align">

  <h5>Log In Now!</h5>

  <div class="row">
      <div class="col s12 m8 offset-m2">

       <%= form_for :user do |f| %>
        <%= f.text_field :name, placeholder: "Enter your name"%>
        <%= f.text_field :password, placeholder: "Enter your password", type: "password"%>
        <%= f.submit "Login", class: "waves-light btn" %>
        <%= link_to "Sign Up", signup_path, class: "waves-light btn" %>
      <% end %>

      </div>
  </div>

</div>