<div class="container">

  <div class="row">
    <div class="col s10 offset-s1">
      <h2><%= @movie['Title'] %></h2>
    </div>
  </div>

  <% if @movie['tomatoConsensus'] != 'N/A' %>
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <p><%= @movie['tomatoConsensus'] %></p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 m6">
      <% if @movie['Poster'] != 'N/A' %>
        <img class="movie-poster" src="<%= @movie['Poster'] %>">
      <% else %>
        <%= image_tag("dude_abides.jpg", class: "movie-poster") %>
      <% end %>
    </div>
    <div class="col s12 m6">
      <table class="hoverable">
        <tbody>
          <tr>
            <td>Year</td>
            <td><%= @movie['Year'] %></td>
          </tr>
          <tr>
            <td>Genre</td>
            <td><%= @movie['Genre'] %></td>
          </tr>
          <tr>
            <td>Rating</td>
            <td><%= @movie['Rated'] %></td>
          </tr>
          <tr>
            <td>Runtime</td>
            <td><%= @movie['Runtime'] %></td>
          </tr>
          <tr>
            <td>Director</td>
            <td><%= @movie['Director'] %></td>
          </tr>
          <tr>
            <td>Actors</td>
            <td><%= @movie['Actors'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h4>Ratings</h4>
      <% if @movie['tomatoRating'] == 'N/A' && @movie['imdbRating'] == 'N/A' %>
        <p>No Ratings Available</p>
      <% end %>
    </div>
    <div class="col s12 m5 offset-m1 card-panel hoverable">
      <% if @movie['tomatoRating'] != "N/A" %>
        <h5>Rotten Tomato: <%= @movie['tomatoRating'] %> / 10 <i class="material-icons star">grade</i></h5>
      <% else %>
        <h5>Rotten Tomato: No Rating</h5>
      <% end %>
    </div>
    <div class="col s12 m5 card-panel hoverable">
      <% if @movie['imdbRating'] != "N/A" %>
        <h5>IMDB: <%= @movie['imdbRating'] %> / 10 <i class="material-icons star">grade</i></h5>
      <% else %>
        <h5>IMDB: No Rating</h5>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h4>Plot</h4>
      <% if @movie['Poster'] != 'N/A' %>
        <p><%= @movie['Plot'] %></p>
      <% else %>
        <p>No Plot Available</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <table class="hoverable">
        <tbody>
          <tr>
            <td>Type</td>
            <td><%= @movie['Type'] %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><%= @movie['Country'] %></td>
          </tr>
          <tr>
            <td>Writer</td>
            <td><%= @movie['Writer'] %></td>
          </tr>
          <tr>
            <td>Language</td>
            <td><%= @movie['Language'] %></td>
          </tr>
          <tr>
            <td>Awards</td>
            <td><%= @movie['Awards'] %></td>
          </tr>
          <tr>
            <td>Released</td>
            <td><%= @movie['Released'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h4>Comments</h4>
      <p>Work in Prgress...</p>
    </div>
  </div>

</div>