<nav>
  <div class="nav-wrapper">
    <%= link_to "#{image_tag 'movie_timestamp.svg'}".html_safe, root_path, :class => "brand-logo center" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li>
        <%= link_to url_for(:back) do %>
          <i class="material-icons">replay</i>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <i class="material-icons">movie</i>
        <% end %>
      </li>
      <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
    </ul>
    <ul class="right">
      <li>
        <%= form_tag("/movies", method: "get") do %>
          <div class="input-field">
          <%= label_tag(:q) do %>
            <i class="material-icons">search</i>
          <% end %>
          <%= text_field_tag(:q) %>
          </div>
        <% end %>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <%= link_to url_for(:back) do %>
          <i class="material-icons">replay</i>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <i class="material-icons">movie</i>
        <% end %>
      </li>
      <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  })
</script>